<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">
  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
     <!--<target xsi:type="File" name="allfile" fileName="reamquery-log-all-${shortdate}.txt"
                 layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}" />-->
    <target xsi:type="File" name="app-log" fileName="reamquery-${shortdate}.log"
             layout="${longdate}|${uppercase:${level}}|${callsite}| ${message} ${exception}" />
    <target xsi:type="Console" name="console" />
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <!--<logger name="*" minlevel="Trace" writeTo="allfile" />-->
    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="app-log" />
    <logger name="*" minlevel="Warn" writeTo="console" />
  </rules>
</nlog>
